absl-py==0.7.1
astroid==2.4.2
autopep8==1.5.3
certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
future==0.17.1
grpcio==1.23.0
idna==2.8
isort==4.3.21
joblib==0.15.1
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.1.1
matplotlib==3.2.2
mccabe==0.6.1
numpy==1.17.0
protobuf==3.18.3
pycodestyle==2.6.0
pylint==2.5.3
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.22.0
scikit-learn==0.23.1
scikit-plot==0.3.7
scipy==1.4.1
six==1.12.0
sklearn==0.0
tb-nightly==1.15.0a20190822
threadpoolctl==2.1.0
toml==0.10.1
torch==1.2.0
torchtext==0.4.0
tqdm==4.34.0
typed-ast==1.4.1
urllib3==1.25.3
Werkzeug==0.15.5
wrapt==1.12.1
